<!DOCTYPE html>
<html>
<head>
    <title>Races</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="races">

    <%- include("../partials/header") %>

    <main>
        <h1>F1 Races 🏎️</h1>

        <div class="race-list">
            <% races.forEach(race => { %>
                <div class="race-card">
                
                <a href="/races/<%= race.id %>">
                    <img src="<%= race.image %>" alt="<%= race.name %>">
                </a>

                <div class="info">
                    <strong><%= race.name %></strong>
                    <p><%= race.description %></p>
                </div>

                </div>
            <% }) %>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>